<p>
  <span>Visual material how OnInit and OnChanges hooks are working with input data when Observables and async pipe were used.</span>
  &nbsp;<a rel="noreferrer noopener" target="_blank" href="https://github.com/l2jliga/test-ng-rx">Github</a>
</p>

<div style="display: flex; flex: 0 0 30vh; justify-content: space-around">
  <div>
    <b>Change detection strategy:</b> Default
    <hr/>
    <div>
      Control:
      <button (click)="showSubComp=true">Initialize</button>
      |
      <button (click)="showSubComp=false">Destroy</button>
    </div>
    <br/>

    <app-subcomp *ngIf="showSubComp"
                 [one]="timerWithShareReplay$ | async"
                 [two]="timer$ | async"
                 [three]="ofBoolean$ | async"
    ></app-subcomp>
  </div>

  <div>
    <b>Change detection strategy:</b> OnPush
    <hr/>
    <div>
      Control:
      <button (click)="showSubCompOnpush=true">Initialize</button>
      |
      <button (click)="showSubCompOnpush=false">Destroy</button>
    </div>
    <br/>

    <app-subcomp-onpush *ngIf="showSubCompOnpush"
                        [one]="timerWithShareReplay$ | async"
                        [two]="timer$ | async"
                        [three]="ofBoolean$ | async"
    ></app-subcomp-onpush>
  </div>

</div>
